


body, html {
    margin: 0;
}

div {box-sizing: border-box;}

.header {
    width: 100%;
    background-color: rgb(240, 255, 184);
    height: 80px;
}

.item-box {
    margin: 0px 80px;
    display: flex;
    height: 100%;
    right: 0;
}

.main-link{
    height:80px;
    line-height: 80px;
    display: block;
    font-size: 32px;
    text-decoration: none;
    color: rgb(77, 77, 77);
    white-space: nowrap;
}

.menu {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    width: 100px;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu-item a:hover{
    color: rgb(194, 108, 151);
}